* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    line-height: 1.5;
}
.product {
    width: 1000px;
    border: 3px solid black;
    width: 825px;
    margin: 20px auto;
}
h2 {
    background-color: rgba(236, 234, 234, 0.884);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
}
h2::before {
    content: "SALE";
    position: absolute;
    left:-20px;
    top:-15px;
    border: 1px solid black;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    background-color: red;


    

}
.price {
    font-size: 20px;
    font-weight: bold;
}
.shipping {
    color:rgba(44, 49, 45, 0.774);
    text-transform: uppercase;
    font-size: small;
    font-size: 12px;
    margin-bottom: 20px;
}
a;link {
    margin-top: 20px;
    
}
span {
    height: 5px;
    width: 10px;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 5px;
    margin-top: 20px;
    display: inline-block
}

.black {
    background-color: black;
    border: none;
    margin-left: 0;
    
}
span.blue {
    background-color: blue;
    border: none;
}
.red {
    background-color: red;
    border: none;
}
.yellow {
    background-color: yellow;
    border: none;
}
.green {
    background-color: green;
    border: none;
}
.brown {
    background-color: brown;
    border: none;
}

a:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
h3 {
    text-transform: uppercase;
    font-size: small;
    margin-top: 30px;
    margin-bottom: 10px;
}
li {
    list-style: square;
    margin-left: 20px;
}

button {
    text-transform: uppercase;
    background-color: black;
    color: #fff;
    display: block;
    width: 100%;
    border: none;
    padding-top: 10px;
    border-top: 2px solid black;
    text-align: center;
    padding-bottom: 10px;
}
button:hover {
    background-color: #fff;
    color: black;
}
